<h2 class="text-danger">😭 What... no passkeys?</h2>
<p>
  You'll need to switch to a
  <a href="https://passkeys.dev/device-support/#matrix">browser that supports
    passkeys</a>
  before you can really use this page.
</p>
