CSRF_SECRET=my-csrf-secret
GOOGLE_AUTH_CLIENT_EMAIL=spreadsheets@api-project-010101.iam.gserviceaccount.com
GOOGLE_AUTH_PRIVATE_KEY_BASE64=FJ23424234.....24242424WlB==
GOOGLE_SPREADSHEET_ID=my-google-spreadsheet-id
COOKIE_SECRET=my-cookie-secret
PORT=443
NODE_ENV=development