{{#> main_layout}}
  {{#*inline "head_scripts"}}
  {{/inline}}

  {{#*inline "body"}}
    
    The things I'm not getting done:

    <ul>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
    </ul>

  {{/inline}}

  {{#*inline "body_scripts"}}
  {{/inline}}
{{/main_layout}}
