{{#> main_layout}}
  {{#*inline "head_scripts"}}
    {{> passkey_scripts }}
  {{/inline}}

  {{#*inline "body"}}
    <div class="passkeys_supported" hidden>
      <div class="row">
        <div class="col text-center">
          <h3 class="mb-4">
            Ready to use less passwords?
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          Enroll a passkey and never have to type that password again!
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 offset-md-3 text-center">
          <button id="yesButton" class="btn btn-lg btn-primary">Let's do it</button>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-6 offset-md-3 text-center">
          <a class="btn btn-secondary" href="{{return_to}}">Maybe next time</a>
        </div>
      </div>
    </div>

    <div id="errorMessageSection" hidden>
      <div class="row mb-4">
        <div class="col-md-6 offset-md-3 text-danger text-center">
          <span id="errorMessageSpan"></span>
        </div>
      </div>
    </div>

    <div class="passkeys_not_supported" hidden>
      <div class="row mt-3">
        <div class="col text-center" id="no_passkey_support">
          {{> no_passkey_support }}
        </div>
      </div>
    </div>

    <div class="passkey_enrollment_completed" hidden>
      <div class="row">
        <div class="col text-center">
          <h3 class="mb-4">
            Nice one
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          Your passkey has been enrolled and will be available the next time you sign in.
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 offset-md-3 text-center">
          <a class="btn btn-lg btn-primary" href="{{return_to}}">Continue</a>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "body_scripts"}}
    <script>
      window.addEventListener("load", async () => {
        // elements
        const yesButton = document.querySelector("#yesButton");

        // wire up UI events
        yesButton.addEventListener("click", async (event) => {
          event.preventDefault();
          disable(yesButton);

          let returnTo;
          try {
            returnTo = await registerUser();
          } catch (err) {
            enable(yesButton);
            return displayError(err);
          }

          if (returnTo) {
            // show completed content
            hide(".passkeys_supported");
            show(".passkey_enrollment_completed");

            return;
          }

          enable(yesButton);
        });

        // detect passkey support and update UI
        if (arePasskeysSupported()) {
          show(".passkeys_supported");
        } else {
          show(".passkeys_not_supported");
        }
      });
    </script>
  {{/inline}}
{{/main_layout}}
